// ########## CSS ##################
html,
body {

    overflow: hidden;
    margin: 0;
    font-family: 'Josefin Sans', 'Lato', sans-serif;

    width: 100vw;
    height: 100vh;


    & input {

        height: 40px;
        border: 3px solid #ffc107;

        &:focus {

            background-color: #ffc10785;
            outline-color: #ffc107;
            color: white;

        }

        }

    & button {

        height: 40px;
        background: #ffc107;
        color: white;

        font-size: 20px;
        font-weight: 600;

        &:hover {

            box-shadow: 0 0 10px 1px #ffc107;
            transform: scale(1.1);
            transition: .3s ease-in-out;

        }

    }

} 